<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-hibernate-crm:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_hibernate_crm_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-hibernate-crm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="antlr-2.7.7" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc-hibernate-crm/web/Web" />
    </root>
  </artifact>
</component>